<link rel="stylesheet" href="/stylesheets/view/item/items.css">
<link rel="stylesheet" href="/stylesheets/jquery-nav/nav.css">

<div id="app">
  <input type="hidden" value="{{parameter}}" id="hid-parameter">
  <section class="search-section">
    <div class="container">
      <div class="btn-group">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Brand
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><a href="#">Lutvpk</a></li>
          <li><a href="#">Kumamon</a></li>
          <li><a href="#">Other</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">All Brands</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Animal
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><a href="#">Dog</a></li>
          <li><a href="#">Cat</a></li>
          <li><a href="#">Other</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">All Animal</a></li>
        </ul>
      </div>
      <div class="search-form">
        <input type="search" class="search-control" placeholder="Search item by name...">
        <button type="button" class="btn btn-search">SEARCH</button>
        <ul class="search-list">
          <li class="search-item">111111</li>
          <li class="search-item">222222</li>
          <li class="search-item">333333</li>
          <li class="search-item">444444</li>
          <li class="search-item">555555</li>
          <li class="search-item">666666</li>
          <li role="separator" class="divider"></li>
          <li class="search-item text-right">
            <a href="#">Close</a>
          </li>
        </ul>
      </div>
    </div>
  </section>


  <section class="brand-info-section" v-if="isShowBrandInfo">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="item-group">
            <div class="item-group-title" style="margin-bottom: 15px">
              <h4><strong>KUMAMON系列 原创潮牌</strong></h4>
            </div>
            <div class="item-group-items">
              <p>宠物KUMAMON系列是我们的原创潮牌</p>
              <p>
                <img src="images/brands/kumamon-s.png" class="img-responsive" style="width: 300px">
              </p>
              <p>由日本优秀团队策划设计，产品获得熊本县公认熊本熊形象使用授权，每个商品都有商标使用批号，公认的正版产品。丰富多彩而奇妙的颜色组合，俏皮可爱超萌是该系列的火爆卖点。</p>
              <p>行动笨拙、内心贱萌、自带两坨腮红的萌物KUMAMON，在近两年迅速风靡全世界，成为年轻人的「网红」。</p>
              <p>吸引眼球的KUMAMON标志，呆萌可爱的设计，使用该系列产品，会让爱宠的可爱性脱颖而出，和熊本熊一样，成为风靡全球的吉祥物！</p>
              <img src="images/brands/kumamon-cn.png" class="img-responsive" v-show="language==='ch'">
              <img src="images/brands/kumamon-en.png" class="img-responsive" v-show="language==='en'">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="items-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <span >狗类商品</span>
                    <span v-show="language !== 'ch'">DOG GOODS</span>
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <ul class="list-group">
                  <li class="list-group-item" :class="{selected: dogItemType == 'all'}" @click="onSearchByItemType('dog', 'all', 'all')">
                    <span >全部</span>
                    <span v-show="language !== 'ch'">All</span>
                  </li>
                  <li class="list-group-item" :class="{selected: dogItemType == 'collar'}" @click="onSearchByItemType('dog', 'BHT10001', 'collar')">
                    <span >脖圈</span>
                    <span v-show="language !== 'ch'">Collar</span>
                  </li>
                  <li class="list-group-item" :class="{selected: dogItemType == 'harnesses'}" @click="onSearchByItemType('dog', 'BHT10000', 'harnesses')">
                    <span >背带</span>
                    <span v-show="language !== 'ch'">Harnesses</span>
                  </li>
                  <li class="list-group-item" :class="{selected: dogItemType == 'leash'}" @click="onSearchByItemType('dog', 'BHT10002', 'leash')">
                    <span >牵引绳</span>
                    <span v-show="language !== 'ch'">Leash</span>
                  </li>
                  <li class="list-group-item" :class="{selected: dogItemType == 'bed'}" @click="onSearchByItemType('dog', 'BHT10004', 'bed')">
                    <span >窝床</span>
                    <span v-show="language !== 'ch'">Bed</span>
                  </li>
                  <li class="list-group-item" :class="{selected: dogItemType == 'clothing'}" @click="onSearchByItemType('dog', 'BHT10005', 'clothing')">
                    <span >服装</span>
                    <span v-show="language !== 'ch'">Clothing</span>
                  </li>
                  <li class="list-group-item" :class="{selected: dogItemType == 'toys'}" @click="onSearchByItemType('dog', 'BHT10003', 'toys')">
                    <span >玩具</span>
                    <span v-show="language !== 'ch'">Toys</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="panel">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <span >猫类商品</span>
                    <span v-show="language !== 'ch'">CAT GOODS</span>
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <ul class="list-group">
                  <li class="list-group-item" :class="{selected: catItemType == 'all'}" @click="onSearchByItemType('cat', 'all', 'all')">
                    <span >全部</span>
                    <span v-show="language !== 'ch'">All</span>
                  </li>
                  <li class="list-group-item" :class="{selected: catItemType == 'collar'}" @click="onSearchByItemType('cat', 'BHT10001', 'collar')">
                    <span >脖圈</span>
                    <span v-show="language !== 'ch'">Collar</span>
                  </li>
                  <li class="list-group-item" :class="{selected: catItemType == 'bed'}" @click="onSearchByItemType('cat', 'BHT10004', 'bed')">
                    <span >窝床</span>
                    <span v-show="language !== 'ch'">Bed</span>
                  </li>
                  <li class="list-group-item" :class="{selected: catItemType == 'clothing'}" @click="onSearchByItemType('cat', 'BHT10009', 'clothing')">
                    <span v-show="language === 'ch'">服装</span>
                    <span v-show="language !== 'ch'">Clothing</span>
                  </li>
                  <li class="list-group-item" :class="{selected: catItemType == 'toys'}" @click="onSearchByItemType('cat', 'BHT10008', 'toys')">
                    <span v-show="language === 'ch'">玩具</span>
                    <span v-show="language !== 'ch'">Toys</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-10" v-if="!isShowPetItemTypeGroup">
          <div v-show="dogItems.length > 0" class="item-group">
            <div class="item-group-title">
              <h4>\{{dogItemTitle}}</h4>
            </div>
            <div class="item-group-items">
              <ul>
                <li v-for="item in dogItems">
                  <div class="thumbnail no-border">
                    <a :href="item.linkUrl">
                      <img :src="item.itemTypeImageUrl" class="img-responsive">
                    </a>
                    <div class="caption">
                      <p>\{{item.itemTypeDec}}</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div v-show="catItems.length > 0" class="item-group">
            <div class="item-group-title">
              <h4>\{{catItemTitle}}</h4>
            </div>
            <div class="item-group-items">
              <ul>
                <li v-for="item in catItems">
                  <div class="thumbnail no-border">
                    <a :href="item.linkUrl">
                      <img :src="item.itemTypeImageUrl" class="img-responsive">
                    </a>
                    <div class="caption">
                      <p>\{{item.itemTypeDec}}</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div v-show="otherItems.length > 0" class="item-group">
            <div class="item-group-title">
              <h4>\{{otherItemTitle}}</h4>
            </div>
            <div class="item-group-items">
              <ul>
                <li v-for="item in otherItems">
                  <div class="thumbnail no-border">
                    <a :href="item.linkUrl">
                      <img :src="item.itemTypeImageUrl" class="img-responsive">
                    </a>
                    <div class="caption">
                      <p>\{{item.itemTypeDec}}</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-10" v-if="isShowPetItemTypeGroup">
          <div v-show="christmasItems.length > 0" class="item-group">
            <div class="item-group-title">
              <h4>\{{christmasItemTitle}} </h4>
            </div>
            <div class="item-group-items">
              <ul>
                <li v-for="item in christmasItems">
                  <div class="thumbnail no-border">
                    <a :href="item.linkUrl">
                      <img :src="item.imageUrl" class="img-responsive">
                    </a>
                    <div class="caption">
                      <p>\{{item.itemDec}}</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div v-show="kumamonItems.length > 0" class="item-group">
            <div class="item-group-title">
              <h4>\{{kumamonItemTitle}}</h4>
            </div>
            <div class="item-group-items">
              <ul>
                <li v-for="item in kumamonItems">
                  <div class="thumbnail no-border">
                    <a :href="item.linkUrl">
                      <img :src="item.imageUrl" class="img-responsive">
                    </a>
                    <div class="caption">
                      <p>\{{item.itemDec}}</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div v-show="luvpetItems.length > 0" class="item-group">
            <div class="item-group-title">
              <h4>\{{luvpetItemTitle}}</h4>
            </div>
            <div class="item-group-items">
              <ul>
                <li v-for="item in luvpetItems">
                  <div class="thumbnail no-border">
                    <a :href="item.linkUrl">
                      <img :src="item.imageUrl" class="img-responsive">
                    </a>
                    <div class="caption">
                      <p>\{{item.itemDec}}</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</div>

<script src="javascripts/view/item/items.js"></script>
