<link rel="stylesheet" href="/stylesheets/view/item/itemList.css">
<div class="container bread-crumbs">
  <ol class="breadcrumb no-background-color">
    <li>
      <a href="\">
        <span class="lan-cn">首页</span>
        <span class="lan-en hidden">Home</span>
      </a>
    </li>
    {{#each breadcrumb}}
      <li>
        <a href="{{this.url}}">
          <span class="lan-cn">{{this.nameCN}}</span>
          <span class="lan-en hidden">{{this.nameEN}}</span>
        </a>
      </li>
    {{/each}}
  </ol>
</div>
<div class="container margin-bottom item-list">
  <ul>
    {{#each itemList}}
      <li>
        <div>
          <div>
            <a href="/item?itemID={{this.itemID}}">
              <img src="{{this.itemImageUrl}}" alt="" class="img-responsive item-image">
            </a>
          </div>
          <div class="text-center">
            <p class="lan-cn des">{{this.brandCN}}{{this.itemShortDescriptionCN}}{{this.colorCN}}{{this.sizeCN}}</p>
            <p class="lan-en des hidden">{{this.brandEN}} {{this.itemShortDescriptionEN}} {{this.colorEN}} {{this.sizeEN}} Size</p>
            <p class="price">¥{{this.unitPrice4RMB}}</p>
            <p class="price hidden">${{this.unitPrice4USD}}</p>
          </div>
          <div class="item-buy">
            <a href="/item?itemID={{this.itemID}}" class="btn btn-success btn-block">
              <span class="lan-cn">立即购买</span>
              <span class="lan-en">BUY NOW</span>
            </a>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</div>
<div class="container text-center">
  <div class="pagination">
    <ul>
      {{#each pagination}}
        {{{this}}}
      {{/each}}
    </ul>
  </div>
</div>
<input type="hidden" value="{{pageNumber}}" id="current-pageNumber">
<script src="/javascripts/view/item/itemList.js"></script>