<link rel="stylesheet" href="/stylesheets/index.css">
<script src="javascripts/view/scroll.js"></script>
<div class="container-fluid no-padding advertisement">
  <img src="images/banner/welcome-banner.png" class="img-responsive">
</div>
<div class="space-normal"></div>
<div class="container recommend-brand">
  <div class="row">
    <div class="col-md-12 no-padding img-brands">
      <div class="petlogowrap">
        <div class="petmore"></div>
        <div class="petlogo"></div>
      </div>
    </div>
  </div>
</div>
<div class="space-normal"></div>
<div class="container panicwrap no-padding clearfix" style="margin-top: 15px">
 <div class="panictime">
   <!--<h1 class="alt-1">8h 00m 0s</h1>-->
 </div>
<div class="panicshops">
  <div class='tabs' id="tabs">
    <ul class='horizontal'>
      <li rel="tab-1">昨日<span>已结束</span></li>
      <li rel="tab-2">今日<span>进行中</span></li>
      <li rel="tab-3">明日<span>预售</span></li>
      <li rel="tab-4">后天<span>预售</span></li>
    </ul>
    <div class="tabcontent" rel='tab-1'>
      <div class="als-container">
        <span class="als-prev" id="als-prev"></span>
        <div class="picbox">
          <ul class="piclist" id="picboxcont1">
          {{#each dailySnapUpOfYesterday}}
            <li>
              <a href="javascript:;">
                <div class="surprise-img"><img src="{{this.itemImageUrl}}"></div>
                <div class="goodsDes"><span class="lan-cn">{{this.itemShortDescriptionCN}}</span><span class="lan-en hidden">{{this.itemShortDescriptionEN}}</span></div>
                <div class="panicpric">
                  <span class="lan-cn">￥{{this.snapUpPrice4RMB}}</span>
                  <span class="lan-cn normal-price">￥{{this.unitPrice4RMB}}</span>
                  <span class="lan-en hidden">${{this.snapUpPrice4USD}}</span>
                  <span class="lan-en hidden normal-price">${{this.unitPrice4USD}}</span>
                </div>
                <div class="panicshopsbtn"><span class="lan-cn">已结束</span><span class="lan-en hidden">Finished</span></div>
              </a>
            </li>
          {{/each}}
          </ul>
        </div>
        <span class="als-next" id="als-next"></span>
      </div>
      <script type="text/javascript">
        var scrollPic_01 = new ScrollPic();
        scrollPic_01.scrollContId   = "picboxcont1";
        scrollPic_01.arrLeftId      = "als-prev";
        scrollPic_01.arrRightId     = "als-next";
        scrollPic_01.frameWidth     = 889;
        scrollPic_01.pageWidth      = 256;
        scrollPic_01.speed          = 15;
        scrollPic_01.space          = 20;
        scrollPic_01.autoPlay       = true;
        scrollPic_01.autoPlayTime   = 2;
        scrollPic_01.initialize();
      </script>
    </div>
    <div class="tabcontent" rel='tab-2'>
      <div class="als-container">
        <span class="als-prev"  id="als-prev2"></span>
        <div class="picbox">
          <ul class="piclist" id="picboxcont2">
            {{#each dailySnapUpOfToday}}
              <li>
                <a href="item?itemID={{this.itemID}}">
                  <div class="surprise-img"><img src="{{this.itemImageUrl}}"></div>
                  <div class="goodsDes"><span class="lan-cn">{{this.itemShortDescriptionCN}}</span><span class="lan-en hidden">{{this.itemShortDescriptionEN}}</span></div>
                  <div class="panicpric">
                    <span class="lan-cn">￥{{this.snapUpPrice4RMB}}</span>
                    <span class="lan-cn normal-price">￥{{this.unitPrice4RMB}}</span>
                    <span class="lan-en hidden">${{this.snapUpPrice4USD}}</span>
                    <span class="lan-en hidden normal-price">${{this.unitPrice4USD}}</span>
                  </div>
                  <div class="buynow">
                    <span class="lan-cn">立即购买</span>
                    <span class="lan-en hidden">Buy Now</span>
                  </div>
                </a>
              </li>
            {{/each}}
          </ul>
        </div>
        <span class="als-next" id="als-next2"></span>
      </div>
      <script type="text/javascript">
        var scrollPic_01 = new ScrollPic();
        scrollPic_01.scrollContId   = "picboxcont2";
        scrollPic_01.arrLeftId      = "als-prev2";
        scrollPic_01.arrRightId     = "als-next2";
        scrollPic_01.frameWidth     = 889;
        scrollPic_01.pageWidth      = 256;
        scrollPic_01.speed          = 15;
        scrollPic_01.space          = 20;
        scrollPic_01.autoPlay       = true;
        scrollPic_01.autoPlayTime   = 2;
        scrollPic_01.initialize();
      </script>
    </div>
    <div class="tabcontent" rel='tab-3'>
       <div class="als-container">
         <span class="als-prev" id="als-prev3"></span>
         <div class="picbox">
           <ul class="piclist" id="picboxcont3">
             {{#each dailySnapUpOfTomorrow}}
               <li>
                 <a href="javascript:;">
                   <div class="surprise-img"><img src="{{this.itemImageUrl}}"></div>
                   <div class="goodsDes"><span class="lan-cn">{{this.itemShortDescriptionCN}}</span><span class="lan-en hidden">{{this.itemShortDescriptionEN}}</span></div>
                   <div class="panicpric">
                     <span class="lan-cn">￥{{this.snapUpPrice4RMB}}</span>
                     <span class="lan-cn normal-price">￥{{this.unitPrice4RMB}}</span>
                     <span class="lan-en hidden">${{this.snapUpPrice4USD}}</span>
                     <span class="lan-en hidden normal-price">${{this.unitPrice4USD}}</span>
                   </div>
                   <div class="wait"><span class="lan-cn">即将开始</span><span class="lan-en hidden">Wait</span></div>
                 </a>
               </li>
             {{/each}}
           </ul>
         </div>
         <span class="als-next" id="als-next3"></span>
       </div>
       <script type="text/javascript">
         var scrollPic_01 = new ScrollPic();
         scrollPic_01.scrollContId   = "picboxcont3";
         scrollPic_01.arrLeftId      = "als-prev3";
         scrollPic_01.arrRightId     = "als-next3";
         scrollPic_01.frameWidth     = 889;
         scrollPic_01.pageWidth      = 256;
         scrollPic_01.speed          = 15;
         scrollPic_01.space          = 20;
         scrollPic_01.autoPlay       = true;
         scrollPic_01.autoPlayTime   = 2;
         scrollPic_01.initialize();

       </script>
     </div>
    <div class="tabcontent" rel='tab-4'>
        <div class="als-container">
          <span class="als-prev" id="als-prev4"></span>
          <div class="picbox">
            <ul class="piclist" id="picboxcont4">
              {{#each dailySnapUpOfAfterTomorrow}}
                <li>
                  <a href="javascript:;">
                    <div class="surprise-img"><img src="{{this.itemImageUrl}}"></div>
                    <div class="goodsDes"><span class="lan-cn">{{this.itemShortDescriptionCN}}</span><span class="lan-en hidden">{{this.itemShortDescriptionEN}}</span></div>
                    <div class="panicpric">
                      <span class="lan-cn">￥{{this.snapUpPrice4RMB}}</span>
                      <span class="lan-cn normal-price">￥{{this.unitPrice4RMB}}</span>
                      <span class="lan-en hidden">${{this.snapUpPrice4USD}}</span>
                      <span class="lan-en hidden normal-price">${{this.unitPrice4USD}}</span>
                    </div>
                    <div class="wait"><span class="lan-cn">即将开始</span><span class="lan-en hidden">Wait</span></div>
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
          <span class="als-next" id="als-next4"></span>
        </div>
      </div>
    <script type="text/javascript">
      var scrollPic_01 = new ScrollPic();
      scrollPic_01.scrollContId   = "picboxcont4";
      scrollPic_01.arrLeftId      = "als-prev4";
      scrollPic_01.arrRightId     = "als-next4";
      scrollPic_01.frameWidth     = 889;
      scrollPic_01.pageWidth      = 256;
      scrollPic_01.speed          = 15;
      scrollPic_01.space          = 20;
      scrollPic_01.autoPlay       = true;
      scrollPic_01.autoPlayTime   = 2;
      scrollPic_01.initialize();
    </script>
  </div>
</div>
</div>
<div class="space-normal"></div>
<div class="container hot-sales no-padding">
  <p class="hot-sales-title">
    <span class="lan-cn">当季热销</span>
    <span class="lan-en hidden">HOT SALES</span>
    <span class="glyphicon glyphicon-shopping-cart"></span>
  </p>
  <div class="title-image">
    <img src="images/hot-sales/hot-sales-title-cn.png" class="img-responsive lan-cn" style="width: 237px; height: 336px">
    <img src="images/hot-sales/hot-sales-title-en.png" class="img-responsive lan-en hidden" style="width: 237px; height: 336px">
  </div>
  <div class="hot-sales-items">
    <ul>

    </ul>
  </div>
</div>

<div class="container-fluid no-padding weekly-deals-advertisement">
  <img src="images/hot-sales/weekly-deals-cn.png" class="img-responsive lan-cn">
  <img src="images/hot-sales/weekly-deals-en.png" class="img-responsive lan-en hidden">
</div>
<div class="space-normal"></div>

<div class="container floor-1 no-padding">
  <div class="title-image">
    <img src="images/hot-sales/dog-deals-cn.png" class="img-responsive lan-cn">
    <img src="images/hot-sales/dog-deals-en.png" class="img-responsive lan-en hidden">
  </div>
  <div class="floor-items">
    <ul>
    </ul>
  </div>
</div>
<div class="space-normal"></div>

<div class="container floor-2 no-padding">
  <div class="title-image">
    <img src="images/hot-sales/cat-deals-cn.png" class="img-responsive lan-cn">
    <img src="images/hot-sales/cat-deals-en.png" class="img-responsive lan-en hidden">
  </div>
  <div class="floor-items">
    <ul>

    </ul>
  </div>
</div>
<div class="space-normal"></div>
<script src="javascripts/view/index.js"></script>
<script src="javascripts/view/jquery.countdown.js"></script>
<!--<script>-->
  <!--window.jQuery(function ($) {-->
    <!--"use strict";-->

    <!--$('time').countDown({-->
      <!--with_separators: false-->
    <!--});-->
    <!--$('.alt-1').countDown({-->
      <!--css_class: 'countdown-alt-1'-->
    <!--});-->
    <!--$('.alt-2').countDown({-->
      <!--css_class: 'countdown-alt-2'-->
    <!--});-->

  <!--});-->
<!--</script>-->
<script type="text/javascript" src="javascripts/view/tabs.js"></script>
<script type="text/javascript">
  tabs_takes.init("tabs");
</script>

