<link rel="stylesheet" href="/stylesheets/view/shops/shopping.css">
<div class="bodywrap">
  <div class="container clearfix">
    <div class="contleft">
      <h2>
        <i class="iconfont icon-gouwuche2"></i>
        <span class="lan-cn">交易管理</span>
        <span class="lan-en hidden">Transaction</span>
      </h2>
      <a href="#">
        <span class="lan-cn">我的订单</span>
        <span class="lan-en hidden">Orders</span>
      </a>
    </div>
    <div class="contright">
      <div class="order_all_tab clearfix">
        <ul>
          <li class="active">
            <a href="/myOrder">
              <span class="lan-cn">所有订单</span>
              <span class="lan-en hidden">All</span>
              <span>{{totalCount}}</span>
            </a>
          </li>
          <li>
            <a href="/waitpay">
              <span class="lan-cn">待付款</span>
              <span class="lan-en hidden">To Pay</span>
              <span>{{toPayOrderCount}}</span>
            </a>
          </li>
          <li>
            <a href="/waitgoods">
              <span class="lan-cn">待收货</span>
              <span class="lan-en hidden">To Receive</span>
              <span>{{toReceiveOrderCount}}</span>
            </a>
          </li>
          <li>
            <a href="/waiteval">
              <span class="lan-cn">待评价</span>
              <span class="lan-en hidden">To Review</span>
            <span>{{toReviewOrderCount}}</span>
            </a>
          </li>
        </ul>
      </div>
      <!--近三个月订单-->
      <div class="order_meau clearfix">
        <ul>
          <li id="recently_order">
            <span class="lan-cn"></span>
            <span class="lan-en hidden"></span>
            <i class="fa fa-angle-down"></i>
            <div class="order_month" id="recently-months">
              <a href="/myOrder?recentMonth=3">
                <span class="lan-cn">近三个月订单</span>
                <span class="lan-en hidden">The last 3 months</span>
              </a>
              <a href="/myOrder?recentMonth=6">
                <span class="lan-cn">近半年订单</span>
                <span class="lan-en hidden">The last 6 months</span>
              </a>
              <a href="/myOrder?recentMonth=12">
                <span class="lan-cn">近一年订单</span>
                <span class="lan-en hidden">The last 12 months</span>
              </a>
            </div>
          </li>
          <li>
            <span class="lan-cn">订单详情</span>
            <span class="lan-en hidden">Order Info</span>
          </li>
          <li>
            <span class="lan-cn">数量</span>
            <span class="lan-en hidden">Quantity</span>
          </li>
          <li>
            <span class="lan-cn">金额</span>
            <span class="lan-en hidden">Price</span>
          </li>
          <li>
            <span class="lan-cn">状态</span>
            <span class="lan-en hidden">Status</span>
          </li>
          <li>
            <span class="lan-cn">操作</span>
            <span class="lan-en hidden">Option</span>
          </li>
        </ul>
      </div>
      <!--待付款-->
      {{#each orderList}}
        <div class="order_dfk">
          <div class="order_dfk_top">
            <span class="lan-cn">下单时间：</span>
            <span class="lan-en hidden">Order Time：</span>
            <span>{{this.orderDate}}</span>
            <span class="lan-cn">订单号:</span>
            <span class="lan-en hidden">Order Number：</span>
            <span>{{this.orderID}}</span>
            <span class="lan-cn">订单金额:</span>
            <span class="lan-en hidden">Order Amount：</span>
            <span>{{this.currencySymbol}}{{this.orderAmount}}</span>
            <span class="lan-cn">{{this.orderStatusText}}</span>
            <span class="lan-en hidden">{{this.orderStatusTextEn}}</span>
            {{# if this.isWaitPay}}
              <a href="/apply?orderNumber={{this.orderID}}" class="btn-order btn-payment">去支付</a>
              <a href="javascript:;" class="btn-order btn-cancel" data-order-id="{{this.orderID}}">取消订单</a>
            {{/if}}
            {{# if this.isShipping}}
              <a href="javascript:;" class="btn-order btn-receive" data-order-id="{{this.orderID}}">确认收货</a>
            {{/if}}
          </div>
          {{# each this.orderTransactionList}}
            <div class="shop_item">
              <div class="shop_goods my_order_goods">
                <div class="shop_goods_img">
                  <a href="/item?itemID={{this.itemVO.itemID}}">
                    <img src="{{this.itemVO.itemImageUrl}}" alt="" />
                  </a>
                </div>
                <div class="shop_goods_inner">
                  <a href="/item?itemID={{this.itemVO.itemID}}">
                    <span class="lan-cn">{{this.itemVO.brandCN}}{{this.itemVO.itemShortDescriptionCN}}</span>
                    <span class="lan-en hidden">{{this.itemVO.brandEN}}{{this.itemVO.itemShortDescriptionEN}}</span>
                  </a>
                </div>
                <div class="shop_goods_color">
                  <p>
                    <span class="lan-cn">颜色：</span>
                    <span class="lan-en hidden">Color：</span>
                    <span class="lan-cn">{{this.itemVO.colorCN}}</span>
                    <span class="lan-en hidden">{{this.itemVO.colorEN}}</span>
                  </p>
                  <p>
                    <span class="lan-cn">尺码：</span>
                    <span class="lan-en hidden">Size：</span>
                    <span class="lan-cn">{{this.itemVO.sizeCN}}</span>
                    <span class="lan-en hidden">{{this.itemVO.sizeEN}}</span>
                  </p>
                </div>
              </div>
              <div class="my_order_price shop_goods_price">
                X{{this.itemCount}}
              </div>
              <div class="my_order_price shop_goods_price orange">
                <span>{{../this.currencySymbol}}</span>
                <span>{{this.itemAmount}}</span>
              </div>
              <div class="my_order_price shop_goods_price">
                {{# if ../this.isRefunded}}
                  {{# if this.customerReviewed}}
                    <span class="lan-cn">已评价</span>
                    <span class="lan-en hidden">Reviewed</span>
                  {{else}}
                    <a href="javascript:;" class="order-review" data-order-id="{{../this.orderID}}" data-item-id="{{this.itemVO.itemID}}">评价</a>
                  {{/if}}
                {{/if}}
                {{# if ../this.isCompleted}}
                  {{# if this.customerReviewed}}
                    <span class="lan-cn reviewed">已评价</span>
                    <span class="lan-en reviewed hidden">Reviewed</span>
                  {{else}}
                    <a href="javascript:;" class="btn-order btn-review" data-order-id="{{../this.orderID}}" data-item-id="{{this.itemVO.itemID}}">评价</a>
                  {{/if}}
                {{/if}}
              </div>
            </div>
          {{/each}}
        </div>
      {{/each}}
      <div class="text-center">
        <div class="pagination">
          <ul>
            {{#each pagination}}
              {{{this}}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="hidden" value="{{recentMonth}}" id="hidden-recentMonth">
<input type="hidden" value="{{pageNumber}}" id="current-pageNumber">
<script type="text/javascript" src="javascripts/view/order/myOrder.js"></script>


