<link rel="stylesheet" href="/stylesheets/view/shops/shopping.css">
<div class="container">
  <!--购物车搜索栏-->
  <div class="searchwrap clearfix">
    <div class="shop_logo">
      <i class="fa fa-shopping-bag"></i>
      <span class="lan-cn">订单结算</span>
      <span class="lan-en hidden">Order Checkout</span>
    </div>
    <div class="shop_order_process">
      <p><img src="/images/order/order1.gif" alt="" /></p>
      <span class="lan-cn">购物车</span>
      <span class="lan-en hidden">Shopping Cart</span>
      <span class="lan-cn">提交订单</span>
      <span class="lan-en hidden">Submit Order</span>
      <span class="lan-cn" style="padding-right:0;">支付</span>
      <span class="lan-en hidden" style="padding-right:0;">Payment</span>
    </div>
  </div>
  <!--提交订单-->
  <div class="sub_order_cont">
    <div class="sub_order_user">
      <h2 class="lan-cn">收货人信息</h2>
      <h2 class="lan-en hidden">Consignee</h2>
      <p>
        <span class="consignee" data-shipping-id=""></span>
        <span class="shipping-address"></span>
        <span class="default-address"></span>
      </p>
      <a href="#" id="add_order"><i class="iconfont icon-weibiaoti37"></i>
        <span class="lan-cn">添加联系人</span>
        <span class="lan-en hidden">New Consignee</span>
      </a>
    </div>
    <div class="sub_order_user">
      <h2 class="lan-cn">付款方式</h2>
      <h2 class="lan-en hidden">Payment Method</h2>
      <p class="lan-cn">在线支付</p>
      <p class="lan-en hidden">Online</p>
    </div>
    <div class="sub_order_user">
      <h2 class="lan-cn">配送方式</h2>
      <h2 class="lan-en hidden">Shipping Method</h2>
      <p class="lan-cn">当地常用物流公司</p>
      <p class="lan-en hidden">Normal logistics company</p>
    </div>
    <div class="sub_order_goods">
      <h2 class="lan-cn">商品清单</h2>
      <h2 class="lan-en hidden">Item List</h2>
      <div class="sub_order_list clearfix">
        <div class="shop_title clearfix">
          <dl>
            <dt></dt>
            <dd class="lan-cn shop_inner">商品信息</dd>
            <dd class="lan-en hidden shop_inner">Item Info</dd>
            <dd class="lan-cn shop_price_buy">金额</dd>
            <dd class="lan-en hidden shop_price_buy">Price</dd>
            <dd class="lan-cn shop_price_buy">数量</dd>
            <dd class="lan-en hidden shop_price_buy">Count</dd>
            <dd class="lan-cn shop_price_buy shop_cz">总计</dd>
            <dd class="lan-en hidden shop_price_buy shop_cz">Total Price</dd>
          </dl>
        </div>
        {{#each shoppingCartList}}
          <div class="shop_item clearfix" data-shopping-id="{{this.shoppingCartID}}" data-item-id="{{this.itemID}}" data-item-count="{{this.shoppingCount}}" data-item-amount-rmb="{{this.totalPrice4RMB}}" data-itemAmount-usd="{{this.totalPrice4USD}}">
            <div class="shop_goods shop_order">
              <div class="shop_goods_img">
                <a href="/item?itemID={{this.itemID}}" target="_blank"><img src="{{this.itemVO.itemImageUrl}}" alt="" /></a>
              </div>
              <div class="shop_goods_inner">
                <a href="/item?itemID={{this.itemID}}" target="_blank">
                  <span class="lan-cn">
                    {{this.itemVO.brandCN}} {{this.itemVO.itemShortDescriptionCN}}
                  </span>
                  <span class="lan-en hidden">
                    {{this.itemVO.brandEN}} {{this.itemVO.itemShortDescriptionEN}}
                  </span>
                </a>
              </div>
              <div class="shop_goods_color">
                <p>
                  <span class="lan-cn">颜色：{{this.itemVO.colorCN}}</span>
                  <span class="lan-en hidden">Color：{{this.itemVO.colorEN}}</span>
                </p>
                <p>
                  <span class="lan-cn">尺码：{{this.itemVO.sizeCN}}</span>
                  <span class="lan-en hidden">Size: {{this.itemVO.sizeEN}}</span>
                </p>
              </div>
            </div>
            <div class="shop_price_buy">
              <p class="price">
                {{#if this.itemVO.promotion4RMB}}
                  <span class="lan-cn price promotion_price">¥{{this.itemVO.promotionPrice4RMB}}</span>
                  <span class="lan-cn original_price delete-price">¥{{this.itemVO.unitPrice4RMB}}</span>
                {{else}}
                  <span class="lan-cn price">¥{{this.itemVO.unitPrice4RMB}}</span>
                {{/if}}
                {{#if this.itemVO.promotion4USD}}
                  <span class="lan-en price promotion_price hidden">${{this.itemVO.promotionPrice4USD}}</span>
                  <span class="lan-en original_price delete-price hidden">${{this.itemVO.unitPrice4USD}}</span>
                {{else}}
                  <span class="lan-en price">${{this.itemVO.unitPrice4USD}}</span>
                {{/if}}
              </p>
            </div>
            <div class="shop_price_buy">
              <div class="item-amount item-pad-none">
                <span>X{{this.shoppingCount}}</span>
              </div>
            </div>
            <div class="shop_price_buy shop_cz">
              <p class="sum_price lan-cn">¥{{this.totalPrice4RMB}}</p>
              <p class="sum_price lan-en hidden">${{this.totalPrice4USD}}</p>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    <div class="sub_order_ft clearfix">
      <div class="order_buy_massage">
        <span class="lan-cn">给卖家留言</span>
        <span class="lan-en hidden">Leave message</span>
        <textarea rows="3" cols="" id="order-memo"></textarea>
      </div>
      <div class="sub_order_btn">
        <p>
          <span class="lan-cn">订单总额：</span>
          <span class="lan-en hidden">Total Amount：</span>
          <span class="lan-cn total-amount"></span>
          <span class="lan-en total-amount hidden"></span>
        </p>
        <button type="button" id="btn-submit">
          <span class="lan-cn">提价订单</span>
          <span class="lan-en hidden">Submit Order</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div style="height: 40px"></div>
<script type="text/javascript" src="javascripts/jquery-2.2.0/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="javascripts/layui/layui.all.js"></script>
<script type="text/javascript" src="javascripts/view/order/order.js"></script>
<script type="text/javascript" src="javascripts/view/calculator.js" ></script>