<link rel="stylesheet" href="/stylesheets/view/shops/shopping.css">
<div class="container">
  <div class="searchwrap clearfix">
    <div class="shop_logo">
      <i class="fa fa-shopping-cart"></i>
      <span>购物车</span>
    </div>
    <div class="shop_order_process">
      <p><img src="/images/order/order1.gif" alt="" /></p>
      <span class="lan-cn">购物车</span>
      <span class="lan-en hidden">Shopping Cart</span>
      <span class="lan-cn">提交订单</span>
      <span class="lan-en hidden">Submit Order</span>
      <span class="lan-cn" style="padding-right:0;">支付</span>
      <span class="lan-en hidden" style="padding-right:0;">Payment</span>
    </div>
  </div>
  <div class="shop_slideBox">
    <div class="hd">
      <ul class="clearfix">
        <li class="active">
          <a href="shops">
            <i class="iconfont icon-gouwuche"></i>
            <span class="lan-cn">爱宠族购物车</span>
            <span class="lan-en hidden">Luvpet Shopping cart</span>
            <span id="shoppingCart-count"></span>
          </a>
        </li>
        <li>
          <a href="mycollect">
            <span class="lan-cn">我的收藏</span>
            <span class="lan-en hidden">My Collection</span>
            <span id="myCollection-count"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="bd">
      <div class="shop_title clearfix">
        <dl>
          <dt class="shop_th">
            <input type="checkbox" id="all" class="whole_check"/>
            <span class="lan-cn">全选</span>
            <span class="lan-en hidden">All</span>
          </dt>
          <dd class="shop_inner">
            <span class="lan-cn">商品信息</span>
            <span class="lan-en hidden">Item</span>
          </dd>
          <dd class="shop_price">
            <span class="lan-cn">单价</span>
            <span class="lan-en hidden">Price</span>
          </dd>
          <dd class="shop_price">
            <span class="lan-cn">数量</span>
            <span class="lan-en hidden">Quantity</span>
          </dd>
          <dd class="shop_price">
            <span class="lan-cn">金额</span>
            <span class="lan-en hidden">Total Amount</span>
          </dd>
          <dd class="shop_price shop_cz">
            <span class="lan-cn">操作</span>
            <span class="lan-en hidden">Option</span>
          </dd>
        </dl>
      </div>
      <div class="cartBox">
        <div class="order_lists">
          {{#each shoppingCartList}}
          <div class="shop_item" data-shoppingCart-id="{{this.shoppingCartID}}" data-item-id="{{this.itemID}}">
            <div class="shop_th">
              <input type="checkbox"  class="son_check"/>
            </div>
            <div class="shop_inner">
              <div class="shop_goods_img">
                <a href="/item?itemID={{this.itemID}}"><img src="{{this.itemVO.itemImageUrl}}" alt="" /></a>
              </div>
              <div class="shop_goods_inner">
                <a href="/item?itemID={{this.itemID}}">
                  <span class="lan-cn">
                    {{this.itemVO.brandCN}} {{this.itemVO.itemShortDescriptionCN}}
                  </span>
                  <span class="lan-en hidden">
                    {{this.itemVO.brandEN}} {{this.itemVO.itemShortDescriptionEN}}
                  </span>
                </a>
              </div>
              <div class="shop_goods_color">
                <p>
                  <span class="lan-cn">颜色：{{this.itemVO.colorCN}}</span>
                  <span class="lan-en hidden">Color：{{this.itemVO.colorEN}}</span>
                </p>
                <p>
                  <span class="lan-cn">尺码：{{this.itemVO.sizeCN}}</span>
                  <span class="lan-en hidden">Size: {{this.itemVO.sizeEN}}</span>
                </p>
              </div>
            </div>
            <div class="shop_price">
              <p>
                {{#if this.itemVO.promotion4RMB}}
                <span class="lan-cn price promotion_price">¥{{this.itemVO.promotionPrice4RMB}}</span>
                <span class="lan-cn original_price delete-price">¥{{this.itemVO.unitPrice4RMB}}</span>
                {{else}}
                <span class="lan-cn price">¥{{this.itemVO.unitPrice4RMB}}</span>
                {{/if}}

                {{#if this.itemVO.promotion4USD}}
                <span class="lan-en price promotion_price hidden">${{this.itemVO.promotionPrice4USD}}</span>
                <span class="lan-en original_price delete-price hidden">${{this.itemVO.unitPrice4USD}}</span>
                {{else}}
                <span class="lan-en price">${{this.itemVO.unitPrice4USD}}</span>
                {{/if}}
              </p>
            </div>
            <div class="shop_price">
              <div class="item-amount">
                <a href="javascript:;" class="reduce reSty">-</a>
                <input type="text" value="{{this.shoppingCount}}"  class="sum">
                <a href="javascript:;" class="plus">+</a>
              </div>
            </div>
            <div class="shop_price">
              <p class="sum_price">
                <span class="lan-cn">¥{{this.totalPrice4RMB}}</span>
                <span class="lan-en hidden">${{this.totalPrice4USD}}</span>
              </p>
            </div>
            <div class="shop_price shop_cz">
              <a href="javascript:;" class="delBtn" data-shoppingCarId="{{this.shoppingCartID}}">
                <i class="iconfont icon-xiazai14"></i>
                <span class="lan-cn">删除</span>
                <span class="lan-en hidden">Delete</span>
              </a>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <!--购物车结算-->
  <div class="shop_settlement">
    <div class="shop_set_left">
      <div class="shop_set_selcet">
        <input type="checkbox" class="whole_check" />
        <span class="lan-cn">全选</span>
        <span class="lan-en hidden">All</span>
      </div>
      <div>
        <a href="javascript:;" class="delAllBtn">
          <span class="lan-cn">删除选中的宝贝</span>
          <span class="lan-en hidden">Delete All</span>
        </a>
      </div>
    </div>
    <div class="shop_set_right">
      <p class="piece">
        <span class="lan-cn">已选商品</span>
        <span class="lan-en hidden">Select Item</span>
        <span class="piece_num">0</span>
        <span class="lan-cn">件</span>
      </p>
      <p class="totalMoney">
        <span class="lan-cn">总价：</span>
        <span class="lan-en hidden">Total Amount: </span>
        <strong class="total_text">
          <span class="lan-cn"></span>
          <span class="lan-en hidden"></span>
        </strong>
      </p>
      <button type="button" class="calBtn" disabled="disabled">
        <span class="lan-cn">结算</span>
        <span class="lan-en hidden">CHECK</span>
      </button>
    </div>

  </div>
</div>
<div style="height: 40px"></div>
<!--<script type="text/javascript" src="javascripts/jquery-2.2.0/jquery-2.2.0.min.js"></script>-->
<!--<script type="text/javascript" src="javascripts/layer/layer.js"></script>-->
<script type="text/javascript" src="javascripts/view/shops/carts.js" ></script>
<script type="text/javascript" src="javascripts/view/calculator.js" ></script>
