<link rel="stylesheet" href="/stylesheets/view/shops/shopping.css">
<!--header end-->
<div class="container">
  <!--购物车搜索栏-->
  <div class="searchwrap clearfix">
    <div class="shop_logo">
      <i class="fa fa-credit-card"></i>
      <span class="lan-cn">订单支付</span>
      <span class="lan-en hidden">Payment</span>
    </div>
    <div class="shop_order_process">
      <p><img src="/images/order/order2.gif" alt="" /></p>
      <span style="padding-right:0;">订单支付</span>
    </div>
  </div>
  <!--订单支付-->
  <div class="order_apply">
    <div class="order_apply_info clearfix">
      <div class="apply_info_img"><img src="/images/apply/sef.gif" alt="" /></div>
      <div class="apply_info_text">
        <p>订单白提交成功，请您尽快付款！</p>
        <input type="hidden" value="{{order.orderID}}" id="hidden-order-id">
        <span>订单号：{{order.orderID}}</span>
        <span>订单金额：{{order.orderAmount}}</span>
      </div>
    </div>
    <div class="order_apply_way">
      <p><strong>立即支付 <i>{{order.orderAmount}} </i>，即可完成订单。</strong>请您在24小时内完成支付，否则订单会被自动取消</p>
      <div class="apply_platform">
        <h3>平台支付</h3>
        <label for="ali">
          <input type="radio" id="ali" name="radio" checked="checked" />
          <span class="pay-item">
            <img src="/images/apply/alipay.jpeg" alt="" />
            <span style="font-size: 16px;">支付宝</span>
          </span>
        </label>
        <label for="wechat">
          <input type="radio" id="wechat" name="radio"/>
          <span class="pay-item">
            <img src="/images/apply/wxpay.jpeg" alt="" />
            <span style="font-size: 16px;">微信支付</span>
          </span>
        </label>
      </div>

    </div>
  </div>
  <div class="sub_order_ft clearfix">
    <div class="sub_order_btn">
      <p>应付总额：<span>{{order.orderAmount}}</span></p>
      <p class="apply_qr">确认后。请在<i>24</i>小时内付请款项，超过24小时系统会取消订单</p>
      <button type="button" class="btn-pay">去支付</button>
    </div>
  </div>

</div>
<div style="height: 40px"></div>
<script type="text/javascript" src="javascripts/view/order/apply.js"></script>
